.tags{
  height:40px;
  flex-shrink:0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  background: var(--tags-bg);
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color);
}
